.nmpdf-hide {
	display:none;
}

svg.nmpdf.align-with-text {
    top: -1px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.nmpdf.nm-modal {
	.modal-title {
		font-size: 1.25rem;
		font-weight: 500;
	}
}

table.nmpdf-responsive {
	td {
		display: block;
		text-align: right;
		clear: both;
	}
}

@media (min-width: 768px) {
	table.nmpdf-responsive {
		td {
			text-align: left;
			display: table-cell;
		}
	}
}

.nmpdf.badge {
	padding: .15em .45em;
}
