.nm-hide {
	display:none;
}

.is-nm-blocked {
	pointer-events: none;
}

.nm-svg.align-with-text {
    top: -1px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.nm-modal {
	.modal-title {
		font-size: 1.25rem;
		font-weight: 500;
	}
}

.nm-component {
	&.offcanvas {
		font-size: .875em;
	}

	&.badge {
		padding: .15em .45em;
	}
}

.nm-toggle-switch {
    /** bar */
    --nm_ts-bar-height: 20px;
    --nm_ts-bar-width: 44px;
    --nm_ts-bar-color: #eee;

    /** knob */
    --nm_ts-knob-size: 22px;
    --nm_ts-knob-color: #fff;

    /** switch */
    --nm_ts-switch-offset: calc(var(--nm_ts-knob-size) - var(--nm_ts-bar-height));
    --nm_ts-switch-width: calc(var(--nm_ts-bar-width) + var(--nm_ts-switch-offset));
    --nm_ts-transition-duration: 200ms;
    --nm_ts-switch-transition: all var(--nm_ts-transition-duration) ease-in-out;
    --nm_ts-switch-theme-rgb: 34, 113, 177;
    --nm_ts-switch-theme-color: rgb(var(--nm_ts-switch-theme-rgb));
    --nm_ts-switch-box-shadow: 0 0 var(--nm_ts-switch-offset) rgba(var(--nm_ts-switch-border-rgb), .5);
    --nm_ts-switch-margin: 8px;
    --nm_ts-switch-border-rgb: 17, 17, 17;

    position: relative;
    display: inline-flex !important;
    align-items: center;
    box-sizing: border-box;
    min-width: var(--nm_ts-bar-width);
    min-height: var(--nm_ts-bar-height);
    user-select: none;

		&.disabled, &.readonly {
			opacity: .4;
		}

    > input {
        position: absolute;
        width: 0 !important;
        height: 0 !important;
        opacity: 0 !important;
    }

    > label {
        --nm_ts-knob-x: calc((var(--nm_ts-bar-height) - var(--nm_ts-bar-width)) / 2);

        position: relative;
        display: inline-flex !important;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        width: var(--nm_ts-bar-width);
        height: var(--nm_ts-bar-height);
        margin: var(--nm_ts-switch-margin);
        user-select: none;
    }

    /* checked */
    > :checked + label {
        --nm_ts-knob-x: calc((var(--nm_ts-bar-width) - var(--nm_ts-bar-height)) / 2);
    }

    /* bar */
    > label::before {
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        width: var(--nm_ts-bar-width);
        height: var(--nm_ts-bar-height);
        background: var(--nm_ts-bar-color);
        border: 1px solid rgba(var(--nm_ts-switch-border-rgb), .2);
        border-radius: var(--nm_ts-bar-height);
        opacity: 0.5;
        transition: var(--nm_ts-switch-transition);
        content: "";
    }


    /* checked bar */
    > :checked + label::before {
        background: var(--nm_ts-switch-theme-color);
        border-color: var(--nm_ts-switch-theme-color);
    }

    /* knob */
    > label::after {
        box-sizing: border-box;
        width: var(--nm_ts-knob-size);
        height: var(--nm_ts-knob-size);
        background: var(--nm_ts-knob-color);
        border-radius: 50%;
        box-shadow: var(--nm_ts-switch-box-shadow);
        transform: translateX(var(--nm_ts-knob-x));
        transition: var(--nm_ts-switch-transition);
        content: "";
    }

    /* checked knob */
    > :checked + label::after {
        background: var(--nm_ts-switch-theme-color);
    }

    /* hover & focus knob */
    &:not(.disabled):not(.readonly):hover > label::after {
        box-shadow: var(--nm_ts-switch-box-shadow), 0 0 0 calc(var(--nm_ts-knob-size) / 2) rgba(var(--nm_ts-switch-theme-rgb), 0.2);
    }

}