@import "common";

.nmerimedia-btn-group {
	> .nmerimedia-btn input[type=checkbox],
	> .nmerimedia-btn input[type=radio] {
		    position: absolute;
			clip: rect(0, 0, 0, 0);
			pointer-events: none;
	}

	input + label {
		font-weight: normal;
		margin: 0;
		cursor: pointer;
		text-align: center;
		display: inline-flex;
		flex-flow: column;
		padding: 0.5em 0.75em;
		transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
	}

	&.nmerimedia-inline {
		input + label {
			align-items: center;
		}
	}

	input + label:hover,
	input:checked + label,
	input:focus + label{
		background-color: rgba(0, 124, 186, 0.08);
		border-color: #007cba;
		box-shadow: 0 0 0 1px #007cba;
		outline: 2px solid transparent;
	}

	input + label.icon {
		display: inline-block;
		padding: 0;
		line-height: 1 !important;
		background-color: transparent;
	}

	input:checked + label.icon {
		.nmerimedia-icon:not(.checked) {
			display: none;
		}
	}

	input:not(:checked) + label.icon {
		.nmerimedia-icon.checked {
			display: none;
		}
	}

}

.nmerimedia-input-group {
	&:not(.nmerimedia-inline) > * {
		margin-bottom: .375em;
	}

	&.nmerimedia-inline {
		display: flex;
		align-items: flex-end;

		> *:not(:last-child) {
			margin-right: 1.875em;
		}
	}
}

.nmerimedia-settings-error {
	color: red;
}

.nmerimedia-pro-version-text {
	color: indianred;
}

.wrap.nmerimedia-settings {
	.main {
		flex-grow: 1;
	}

	.is-pro {
		opacity: .4;
		pointer-events: none;
	}

	.sidebar {
		padding: 0 15px;
		border-left: 1px solid #dedede;
	}

	@media (min-width: 783px) {
		.container {
			display: flex;
			width: 100%;
		}

		.main {
			padding-right: 15px;
		}

		.sidebar {
			width: 255px;
			min-width: 255px;
		}
	}
}

/* nmerimedia plugins list */
.nmps {
		margin-top: 30px;
	}

	.nmp {
		display: flex;
		flex-flow: column;
		border: 1px solid #e6e6e6;
		border-radius: 3px;
		padding: 15px;
		background: white;
		text-decoration: none;
		color: inherit;
		font-weight: 500;
	}

	.nmp:not(:last-child) {
		margin-bottom: 16px;
	}

	.nmp .plugin-title-container {
		display: flex;
		align-items: flex-start;
	}

	.nmp .plugin-title {
		margin: 0;
	}

	.nmp .plugin-image {
		width: 24px;
    height: auto;
    margin-right: 5px;
	}

	.nm-text-gradient {
		background-image: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
		background-clip: text;
		background-size: 200% auto;
		color: #fff;
		background-clip: text;
		-webkit-background-clip: text;
		text-fill-color: transparent;
		-webkit-text-fill-color: transparent;
		animation: nmtextclip 5s linear infinite;
		display: inline-block;
	}

	@keyframes nmtextclip {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
